@supports(scrollbar-width:thin){
    .scorllBar  {
        scrollbar-width: thin;
        scrollbar-color: black #ECEFF1;
         cursor: pointer
    }
 
}

.scorllBar::-webkit-scrollbar{     
   height: 0.4rem;
}
.scorllBar::-webkit-scrollbar-track{     
    background-color:  #ECEFF1;  
    cursor: pointer; 
}

.scorllBar::-webkit-scrollbar-thumb{     
    background-color: black; 
     cursor: grab;
}

.controls{
    scrollbar-width: none;
    scroll-behavior: smooth;
}

